* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.navigation-bar li {
    text-align: right;
}


/*<!-- Start Intro Section -->*/

.intro-section {
    margin-top: 1%;
    margin-bottom: 5%;
}

.intro-section .card-title {
    color: blue;
}

.intro-section .card .card-img-overlay {
    text-align: center;
    font-size: x-large;
    margin-top: 4%;
    font-weight: 700;
}

@media (max-width: 768px) {
    .intro-section {
        margin-bottom: 10%;
    }
    .intro-section .card {
        height: 45vh;
    }
    .intro-section .card img {
        height: 45vh;
    }
    .intro-section .card .card-img-overlay h2 {
        text-align: center;
        font-size: larger;
    }
    .intro-section .card .card-img-overlay h3 {
        text-align: center;
        font-size: large;
    }
}


/*<!-- End Intro Section -->*/


/*<!-- Start qutoes Section -->*/

.qutoe .card {
    text-align: center;
    border: none;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: 7px 7px 15px 7px lightgray;
    box-shadow: 7px 7px 15px 7px lightgray;
    margin-bottom: 5%;
}


/*<!-- End qutoes Section -->*/


/*<!-- Start About Section -->*/

.about-section {
    font-size: large;
}

.about-section .card {
    text-align: right;
    border: none;
    width: 100% !important;
}

.about-section .card .card-body {
    margin-right: 5%;
}

.about-section p {
    color: #3957ff;
    font-weight: bold;
    text-align: right;
}

.about-section h2 {
    text-align: center;
    font-weight: bolder;
}

.about-section li {
    text-align: right;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5%;
}

.about-section i {
    color: blue;
}


/*<!-- End About Section -->*/


/*<!-- Start Services Section -->*/

.service-section {
    background-color: #f2f2f2;
    margin-top: 5%;
}

.service-section h2 {
    text-align: center;
    margin: 5% 0% 5% 0%;
    font-weight: bolder;
}

.service-section .card {
    text-align: center;
    border: none;
    background-color: #fffefe;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: 7px 7px 15px 7px lightgray;
    box-shadow: 7px 7px 15px 7px lightgray;
    margin-bottom: 5%;
}


/*<!-- End Services Section -->*/

@media (max-width: 768px) {
    .navigation-bar a {
        font-size: medium;
    }
    /*<!-- Start Services Section -->*/
    .service-section .card {
        font-size: small;
    }
    /*<!-- End Services Section -->*/
}


/*    <!-- Start Question Section -->*/

.legal-question {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
}

.legal-question .card-header {
    background: none;
    border-top: none;
    border-bottom: none;
    border-bottom: 1px solid lightblue;
}

.legal-question .card {
    border: none !important;
}

.legal-question a {
    text-align: right;
    border-left: none;
    border-right: none;
}


/*    <!-- End Question Section -->*/

.contact-us {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.contact-us .card {
    border: none;
    background-color: #f2f2f2;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: 7px 7px 15px 7px lightgray;
    box-shadow: 7px 7px 15px 7px lightgray;
}

.contact-us li {
    font-weight: bolder;
    font-size: larger;
    text-align: right;
    margin-bottom: 5%;
}

footer {
    margin-top: 2%;
    text-align: center;
}

footer img {
    width: 50%;
}